<div class="price-plan">
  <div class="content">
    <p class="text-center heading">Choose the pricing plan that suits your business. </p>
    <div class="row plan-block">
      <div class="col-md-6">
        <div class="box">
            <div class="head"><div>Basic</div><span class="price">Rs 2000 / year</span></div>
            <div class="body">
              <ul>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
                <li>hi, hello how are you</li>
              </ul>
            </div>
            <div class="foot text-center">
              <button class="app-btn btn" @click="payNow">Checkout</button>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="head"><div>Advance</div><span class="price">Rs 4000 / year</span></div>
          <div class="body">
            <ul>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
              <li>hi, hello how are you</li>
            </ul>
          </div>
          <div class="foot text-center">
            <button class="app-btn btn" @click="payNow">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
