@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header {
  background-color: $white-color;
  border: none;
  color: $dark-gray;
  min-height: 70px;

  .header-cont {
    min-height: 70px;

    div, ul, a {
      min-height: 70px;
    }
    .navbar-header {
      .navbar-toggle {
        .icon-bar {
          background-color: $theme-color;
        }
      }
      button[aria-expanded="true"]{
        background-color: $theme-color;
        .icon-bar {
          background-color: $white-color;
        }
      }
    }
    .navbar-collapse {
      .navbar-right {
        .user-profile {
          cursor: pointer;
        }
      }
    }
  }

  a {
    &:hover{
      color: $theme-color;
    }
    font-size: 15px;
    font-weight: 500;
    padding: 28px 15px;
  }
  .active {
    a {
      background-color: transparent;
      color: $theme-color;
    }
  }
  .logo {
    height: 30px;
    width: 210px;
  }
}

.footer {
  color: $theme-color;
  padding: 30px;
  text-align: center;
}
