@import "./variables";

.vgt-wrap {
  box-sizing: border-box;
  margin-top: 35px;
  background-color: $white-color;
  .vgt-responsive {
    .vgt-table {
      .custom-th-class, .custom-td-class {
        text-align: center;
        i {
          cursor: pointer;
          margin: 0 10px;
        }
      }
    }
  }
}
