// ======= colors ========

$theme-color: #339FD8;
$white-color: #FFFFFF;
$dark-offwhite-color: #F1F1F1;
$light-gray-color: #d8dee2;
$red-color: #d50000;
$dark-gray: #444444;

.theme-text {
  color: $theme-color;
}

.ui.selection.dropdown .menu > .item[data-v-3a0c7bea] {
  font-size: 12px;
}
.ui.fluid.dropdown[data-v-3a0c7bea] {
    display: block;
    width: 100%;
    height: 34px;
    min-height: 0;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ui.dropdown:not(.button) > .default.text[data-v-3a0c7bea], .ui.default.dropdown:not(.button) > .text[data-v-3a0c7bea] {
  color: #929292;
}
