<div class="company-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="company-info-wrap form-wrapper">
          <div class="company-info-title form-title">
            Company/Firm Information
          </div>
          <form class="company-info-form" @submit.prevent="validateForm">
            <div class="form-group">
              <label class="control-label"
                     :class="{'error-text': errors.has('firmName')}">
                Company/Firm Name
              </label>
              <input type="text" placeholder="Company Name"
                     name="firmName" class="form-control"
                     v-model="firmName"
                     v-validate="'required'"
                     :class="{'has-danger': errors.has('firmName')}"
                     data-vv-delay="500">
              <span v-show="errors.has('firmName')"
                    class="error-text">
                    {{ errors.first('firmName')}}
              </span>
            </div>
            <div class="form-group">
              <label class="control-label"
                     :class="{'error-text': errors.has('finacialYear')}">
                     Financial Year
              </label>
              <select name="finacialYear" placeholder="Financial Year" class="form-control"
                      v-model="finacialYear"
                      v-validate="'required'"
                      :class="{'has-danger': errors.has('finacialYear')}"
                      data-vv-delay="500">
                <option value="" hidden>Financial Year</option>
                <option v-for="year in options" :value="year">
                  {{year}}
                </option>
              </select>
              <span v-show="errors.has('finacialYear')"
                    class="error-text">
                    {{ errors.first('finacialYear')}}
              </span>
            </div>
            <div class="bank-details">
              <label class="control-label bank-details-title">Bank Details</label>
              <div class="form-group" v-for="(row, index) in getRows">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="control-label"
                           :class="{'error-text': errors.has('bank' + row['bank' + (index+1)].id + 'name')}">
                           Bank
                    </label>
                    <!-- <select  :name="'bank' + row['bank' + (index+1)].id + 'name'" v-model="row['bank' + (index+1)].name" class="form-control" v-validate="'required'" placeholder="Select bank">
                      <option v-for="bank in banks" :value="bank.id">{{bank.name}}</option>
                    </select> -->
                    <model-select :options="banks"
                                  class="form-control"
                                  placeholder="Select Bank"
                                  :name="'bank' + row['bank' + (index+1)].id + 'name'"
                                  :class="{'has-danger': errors.has('bank' + row['bank' + (index+1)].id + 'name')}"
                                  v-model="row['bank' + (index+1)].name"
                                  v-validate="'required'"
                                  >
                    </model-select>
                    <span v-show="errors.has('bank' + row['bank' + (index+1)].id + 'name')"    class="error-text">
                      {{ errors.first('bank' + row['bank' + (index+1)].id + 'name')}}
                    </span>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label"
                           :class="{'error-text': errors.has('bank' + row['bank' + (index+1)].id + 'accountNo')}">
                           Account No.
                     </label>
                    <input type="text" placeholder="Account No."
                            :name="'bank' + row['bank' + (index+1)].id + 'accountNo'"  v-model="row['bank' + (index+1)].accountNo" class="form-control"  v-validate="'required'"
                            :class="{'has-danger': errors.has('bank' + row['bank' + (index+1)].id + 'accountNo')}"
                      >
                    <span v-show="errors.has('bank' + row['bank' + (index+1)].id + 'accountNo')" class="error-text">
                      {{errors.first('bank' + row['bank' + (index+1)].id + 'accountNo')}}
                   </span>
                  </div>
                </div>
              </div>
              <div class="add-more-btn">
                <a @click="addMoreRow"><span class="glyphicon glyphicon-plus"></span> Add More</a>
              </div>
            </div>
            <div class="row btn-wrapper">
              <div class="col-xs-12 text-center">
                <button class="btn app-btn" name="button">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
