<div class="form-content">
  <div class="row amt-bal">
    <div class="col-xs-6">Cash Balance: <u>Rs 1,23,3000</u></div>
    <div class="col-xs-6 text-right">Bank Balance: <u>Rs 20,30,000</u></div>
  </div>
  <form class="form" @submit.prevent="addEntry">
    <div class="row">
      <div class="form-group">
        <div class="row">
          <label class="col-md-4 col-xs-12">Date:</label>
          <div class="col-md-8 col-xs-12">
            <date-picker class="datepicker" name="txnDate" :class="{'has-danger': errors.has('txnDate')}" v-model="txnDate" :first-day-of-week="1" :lang="lang" :format="'dd/MM/yyyy'" v-validate="'required'"></date-picker>
            <div><span v-show="errors.has('txnDate')" class="error-text">{{ errors.first('txnDate')}}</span></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <slot name="dropdown"></slot>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-md-4 col-xs-12">Amount:</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" v-model="amount" v-validate="'required|numeric'" name="amount" :class="{'has-danger': errors.has('amount')}" placeholder="Amount"/>
            <span v-show="errors.has('amount')" class="error-text">{{ errors.first('amount')}}</span>
          </div>
        </div>
      </div>
      <slot name="to"></slot>
      <div class="form-group">
        <div class="row">
          <slot name="for"></slot>
          <div class="col-md-8 col-xs-12">
            <input type="text" name="for" :class="{'has-danger': errors.has('for')}" class="form-control" v-model="forReasonText" v-validate="'required'" placeholder="Purpose"/>
            <span v-show="errors.has('for')" class="error-text">{{ errors.first('for')}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-md-4">Payment Type:</label>
          <div class="col-md-8">
              <slot name="check-box-group"></slot>
          </div>
        </div>
      </div>
      <div class="text-center form-group">
        <button class="btn app-btn">Add</button>
      </div>
    </div>
  </form>
</div>
