<div id="app">
  <nav class="navbar navbar-default" id="header" role="navigation">
    <div class="container header-cont">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link class="navbar-brand" to="/home"><img class="logo" src="../../assets/img/logo.png"></router-link>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style="height: 0.994318px;">
        <ul class="nav navbar-nav navbar-right">
          <router-link to="/home" class="hidden-xs" tag="li">
            <a> Home </a>
          </router-link>
          <router-link to="/home" class="visible-xs" tag="li" data-toggle="collapse" data-target=".navbar-collapse">
            <a> Home</a>
          </router-link>
          <router-link to="/plan" class="hidden-xs" tag="li">
            <a> Plan & Features </a>
          </router-link>
          <router-link to="/plan" class="visible-xs" tag="li" data-toggle="collapse" data-target=".navbar-collapse">
            <a> Plan & Features</a>
          </router-link>
          <li class="dropdown" v-if="userEmail">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userEmail}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <router-link v-if="paymentDone" to="/setup-company" tag="li" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <a>Setup Company</a>
              </router-link>
              <router-link v-if="paymentDone" to="/setup-company" tag="li" class="hidden-xs">
                <a>Setup Company</a>
              </router-link>
              <router-link v-if="paymentDone" to="/my-creditors" tag="li" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <a>My Creditors</a>
              </router-link>
              <router-link v-if="paymentDone" to="/my-creditors" tag="li" class="hidden-xs">
                <a>My Creditors</a>
              </router-link>
              <router-link v-if="paymentDone" to="/my-debitors" tag="li" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <a>My Debitors</a>
              </router-link>
              <router-link v-if="paymentDone" to="/my-debitors" tag="li" class="hidden-xs">
                <a>My Debitors</a>
              </router-link>
              <router-link v-if="paymentDone" to="/dashboard" tag="li" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <a>Dashboard</a>
              </router-link>
              <router-link  v-if="paymentDone" to="/dashboard" tag="li" class="hidden-xs">
                <a>Dashboard</a>
              </router-link>
              <router-link v-if="paymentDone" to="/reports" tag="li" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <a>Reports</a>
              </router-link>
              <router-link v-if="paymentDone" to="/reports" tag="li" class="hidden-xs">
                <a>Reports</a>
              </router-link>
              <li v-if="userEmail" class="user-profile">
                <a @click="logout" class="hidden-xs">Logout
                  <span class="glyphicon glyphicon-off"></span>
                </a>
                <a @click="logout" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">Logout
                  <span class="glyphicon glyphicon-off"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="breadcrumb" v-if="$breadcrumbs.length">You are here:
    <router-link class="breadcrumb-item" v-for="(crumb, key) in $breadcrumbs" :to="crumb.path" :key="key">{{ crumb.meta.breadcrumb }}</router-link>
  </nav>
  <router-view class="page"/>
  <div class="footer">Copyright &copy; 2018 by Newput Inc. All rights reserved. BookKeeper and BookKeeper logo are trademarks of Newput Inc. Patent pending
  </div>
</div>
