<div class="sale-purchase-form">
  <div class="">
    <h4 class="text-center">{{title}}</h4>
    <form class="form">
      <div class="row">
        <div class="form-group col-md-4">
          <label class="col-md-4 col-xs-12">Bill No:</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" v-validate="'required'" name="bill-no" placeholder="Enter Bill no" v-model="formData.billNo"/>
            <span v-show="errors.has('bill-no')" class="error-text">{{ errors.first('bill-no')}}</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-md-4 col-xs-12">Date:</label>
          <div class="col-md-8 col-xs-12">
            <date-picker class="datepicker" name="date" :first-day-of-week="1" :lang="lang" :format="'dd/MM/yyyy'" v-validate="'required'" v-model="formData.date"></date-picker>
            <span v-show="errors.has('date')" class="error-text">{{ errors.first('date')}}</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-md-4 col-xs-12">GST No:</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" v-validate="'required'" name="Gst-No" placeholder="GST No" v-model="formData.gstNo"/>
            <span v-show="errors.has('Gst-No')" class="error-text">{{ errors.first('Gst-No')}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="col-md-4 col-xs-12">Mobile No:</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" v-validate="'required|numeric|min:10|max:11'" name="mobile" placeholder="Mobile No" v-model="formData.mob"/>
            <span v-show="errors.has('mobile')" class="error-text">{{ errors.first('mobile')}}</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-md-4 col-xs-12">Name:</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" v-validate="'required'" name="name" placeholder="Name" v-model="formData.name"/>
            <span v-show="errors.has('name')" class="error-text">{{ errors.first('name')}}</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-md-4">Mode:</label>
          <div class="col-md-8">
            <div class="row">
              <div class="col-xs-6">
                <input class="form-check-input" name="payment-mode" v-model="formData.payType" type="radio" id="cash" value="cash">
                <label class="form-check-label" for="cash">Cash</label>
              </div>
              <div class="col-xs-6">
                <input class="form-check-input" name="payment-mode" type="radio" v-model="formData.payType" id="credit" value="credit">
                <label class="form-check-label" for="credit">Credit</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item-header hidden-xs hidden-sm">
        <div class="form-group col-xs-1">
          <label class="col-xs-12">Sno</label>
        </div>
        <div class="form-group col-xs-3">
          <label class="col-xs-12">Goods/Services</label>
        </div>
        <div class="form-group col-xs-2">
          <label class="col-xs-12">Quantity</label>
        </div>
        <div class="form-group col-xs-2">
          <label class="col-xs-12">Rate</label>
        </div>
        <div class="form-group col-xs-2">
          <label class="col-xs-12">GST Rate</label>
        </div>
        <div class="form-group col-xs-2">
          <label class="col-xs-12">Total Amount</label>
        </div>
      </div>
      <div class="row item-row" v-for="(item, index) in items" v-bind:key="index">
        <div class="form-group col-md-1">
          <label class="col-xs-12 visible-xs visible-sm">Sno</label>
          <div class="col-xs-12">
            {{index+1}}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label class="col-xs-12 visible-xs visible-sm">Goods/Services</label>
          <div class="col-xs-12">
            <model-select :options="options" :name="'category-'+index" v-model="item.category.text" v-validate="'required'" placeholder="Select Option"></model-select>
            <span v-show="errors.has('category-'+index)" class="error-text">{{ errors.first('category-'+index)}}</span>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label class="col-xs-12 visible-xs visible-sm">Quantity</label>
          <div class="col-xs-12">
            <input type="text" class="form-control" v-validate="'required|numeric'" :name="'quantity_'+index" v-model="item.quantity" placeholder="Quantity"/>
            <span v-show="errors.has('quantity_'+index)" class="error-text">{{ errors.first('quantity_'+index)}}</span>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label class="col-xs-12 visible-xs visible-sm">Rate</label>
          <div class="col-xs-12">
            <input type="text" class="form-control" v-model="item.rate" v-validate="'required|numeric'" name="'rate_'+index" placeholder="Rate"/>
            <span v-show="errors.has('rate_'+index)" class="error-text">{{ errors.first('rate_'+index)}}</span>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label class="col-xs-12 visible-xs visible-sm">Gst Rate</label>
          <div class="col-xs-12">
            <input type="text" class="form-control" v-validate="'required|decimal'" v-model="item.gstRate" name="'gst_rate_'+index" placeholder="GST Rate"/>
            <span v-show="errors.has('gst_rate_'+index)" class="error-text">{{ errors.first('gst_rate_'+index)}}</span>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label class="col-xs-12 visible-xs visible-sm">Total Amount</label>
          <div class="col-xs-12">
            <input type="text" class="form-control" v-validate="'required|numeric'" v-model="item.totAmt" name="'total_'+index" placeholder="Total"/>
            <span v-show="errors.has('total_'+index)" class="error-text">{{ errors.first('total_'+index)}}</span>
          </div>
        </div>
      </div>
      <div class="add-more-btn">
        <a @click="addMoreRow"><span class="glyphicon glyphicon-plus"></span> Add More</a>
      </div>
      <div class="text-center form-group">
        <button class="btn app-btn" @click.prevent="saveData">Add</button>
      </div>
    </form>
  </div>
</div>
