<entry-form :category="category" v-on:check="check">
  <div slot="dropdown">
    <label class="col-md-4 col-xs-12">Cash Deposit to Bank:</label>
    <div class="input-group col-md-8 col-xs-12">
      <model-select :options="options" name="deposit-cat" v-model="category.text" v-validate="'required'" placeholder="Select option"></model-select>
      <span v-show="errors.has('deposit-cat')" class="error-text">{{ errors.first('deposit-cat')}}</span>
    </div>
  </div>
  <div slot="for">
    <label class="col-md-4 col-xs-12">Deposit For:</label>
  </div>
</entry-form>
