<div class="home-page">
  <div class="hero-div">
    <div class="hero-text-block text-center col-md-6">
      <p class="title">BookKeeping</p>
      <p class="sub-title">Focusing on your finance</p>
      <div class="" v-if="!isLoggedIn">
        <button class="btn cta-btn btn-lg" @click="signup">Sign Up</button>
        <button class="btn cta-btn btn-lg" @click="login">Login</button>
      </div>
    </div>
  </div>
  <div class="serv-cont row">
    <div class="">
      <h2>Services</h2>
    </div>
    <div class="col-md-6">
      <div class="block">
        <h4>Lorem Ipsum</h4>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <h4>Lorem Ipsum</h4>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <h4>Lorem Ipsum</h4>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <h4>Lorem Ipsum</h4>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
      </div>
    </div>
  </div>
</div>
