<entry-form :category="category" :toText="toText" v-on:check="check">
  <div slot="dropdown">
    <label class="col-md-4 col-xs-12">Income:</label>
    <div class="input-group col-md-8 col-xs-12">
      <model-select :options="options" name="income" v-model="category.text" v-validate="'required'"></model-select>
      <span v-show="errors.has('income')" class="error-text">{{ errors.first('income')}}</span>
    </div>
  </div>
  <div slot="to">
    <div class="form-group">
      <label class="col-md-4 col-xs-12">Received From:</label>
      <div class="input-group col-md-8 col-xs-12">
        <input type="text" name="to" class="form-control" v-model="toText" v-validate="'required'"/>
        <span v-show="errors.has('to')" class="error-text">{{ errors.first('to')}}</span>
      </div>
    </div>
  </div>
  <div slot="for">
    <label class="col-md-4 col-xs-12">Received For:</label>
  </div>
</entry-form>
