<div class="credit-sale">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <app-table v-if="tableData.length>0" :rowContent="tableData" :columns="columns"></app-table>
        <div class="btn-wrapper text-center">
          <button type="button" name="button" class="btn btn-primary" v-if="tableData.length>0" @click="addMoreCreditor">Add More</button>
          <div class="" v-else>
            <div class="no-data-msg">No creditor added yet. </div>
            <div><button type="button" name="button" class="btn app-btn" @click="addMoreCreditor">Add Creditor</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
