<entry-form :category="category" :toText="toText" v-on:check="check">
  <div slot="dropdown">
    <label class="col-md-4 col-xs-12">Expenses:</label>
    <div class="input-group col-md-8 col-xs-12">
      <basic-select :options="options" name="category" :selected-option="category" placeholder="select item" @select="onSelect" v-validate="'required'" v-model="category.text"></basic-select>
      <span v-show="errors.has('category')" class="error-text">{{ errors.first('category')}}</span>
    </div>

  </div>
  <div slot="to">
    <div class="form-group">
      <label class="col-md-4 col-xs-12">Paid To:</label>
      <div class="input-group col-md-8 col-xs-12">
        <input type="text" name="to" class="form-control" v-model="toText" v-validate="'required'"/>
        <span v-show="errors.has('to')" class="error-text">{{ errors.first('to')}}</span>
      </div>
    </div>
  </div>
  <div slot="for">
    <label class="col-md-4 col-xs-12">Paid For:</label>
  </div>
</entry-form>
